[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.8"
django-environ = "0.11.2"
psycopg2-binary = "2.9.9"
gunicorn = "21.2.0"
drf-yasg = "1.21.7"
djangorestframework = "3.14.0"
djangorestframework-simplejwt = "5.3.1"
django-trench = "0.3.1"
black = "23.12.1"
django-cors-headers = "4.3.1"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
